<h1>Listing staatus</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @staatus.each do |staatu| %>
  <tr>
    <td><%= staatu.name %></td>
    <td><%= staatu.content %></td>
    <td><%= link_to 'Show', staatu %></td>
    <td><%= link_to 'Edit', edit_staatu_path(staatu) %></td>
    <td><%= link_to 'Destroy', staatu, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Staatu', new_staatu_path %>
