<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @staatu.name %>
</p>

<p>
  <b>Content:</b>
  <%= @staatu.content %>
</p>


<%= link_to 'Edit', edit_staatu_path(@staatu) %> |
<%= link_to 'Back', staatus_path %>
